body {
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: 100vw 200vh;
  font-family: 'Pacifico', cursive;
  color: #404040;
}

.whale{
  margin-left: -500px;
  margin-right:0px;
  margin-top: 25vh;
  position: relative;
  width:auto;
  max-width:90%;
  height:auto;
}

h1{
  text-align: center;
  font-size: 3.5em;
  margin-top:5px;
}

.relative-container {
    position:relative;
    overflow: hidden;
}

.text-body{
  font-size:2em;
  text-align:left;
  display:inline;
  font-family:'Josefin Slab', serif;;
}

#intro{
  position:relative;
  height: 98vh;
}

#aboutMe{
  position:relative;
  height: 98vh;
}

#dancer{
  position:relative;
  height: 98vh;
}

#passions{
  position:relative;
  height: 98vh;
}

#dev{
  position:relative;
  height: 98vh;
  background-color: #84E9FF;
}

#ux{
  position:relative;
  height: 98vh;
  background-color: #84E9FF;
}

.subbody{

  background-color: #84E9FF;
}

.scrolly{
  color: #404040;
  bottom: 0;
  position: absolute;
  margin-left: -17px;
  width:50%;
  left:0;
  padding-left:51%;
  padding-right:0px;

}

.scrolly:hover{
  color:#0093FE;
}

.starfish{
  margin-left:-200px;
  margin-right: 0px;
  position: relative;
  width:auto;
	max-width:21%;
	height:auto;
  margin-top: -150%;
  disply:inline;
  /*margin-top:30vh;*/
}

.fish{
  position: relative;
  width:auto;
	max-width:25%;
	height:auto;
  margin-left: 20%;
  margin-top:-20%;
  right:-1500px;
  margin-left: 0px;
}


.turtle{
  margin-right:0px;
  position: relative;
  width:auto;
	max-width:30%;
	height:auto;
  disply:inline;
  margin-top: 0;
}

#spacing {
  margin-top:0px;
  display: flex;
  justify-content: space-between;
  font-size: 3em;
  font-weight:bold;
}

p, ul, li{
  margin-left:5%;
}

h2{
  text-align:right;
  margin-right:50px;
}

.github{
  width:auto;
  max-width:25%;
  height:auto;
  float:left;
}
